<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Calculator</h2>
    <a href="/add">Add</a><br/>
    <a href="/multiply">Multiply</a>
  </body>
</html>
